<h1>Investments</h1>
<table class="investments-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>ISIN</th>
    <th>Shares</th>
    <th>Purchase Price</th>
    <th>Purchased At</th>
    <th>Total price</th>
    <th>Fees</th>
  </tr>
  </thead>
  <tbody>
  <% @investments.each do |investment| %>
    <tr>
      <td><%= investment.security.name %></td>
      <td><%= investment.security.kind&.humanize || "-" %></td>
      <td><%= investment.security.isin %></td>
      <td><%= investment.shares %></td>
      <td><%= number_to_currency(investment.purchase_price, unit: '€') %></td>
      <td><%= investment.purchased_at.strftime('%Y-%m-%d') %></td>
      <td><%= number_to_currency(investment.total_price, unit: '€') %></td>
      <td>
        <%= number_to_currency(investment.fees, unit: '€') %>
        (<%= number_to_percentage(investment_fees_percentage(investment)) %>)
      </td>
    </tr>
  <% end %>
  </tbody>
</table>